Repository lbl-anp/becquerel, pull requests merged in 2022-02, with the labels that each got.

#315 Update pre commit and black
  .github/workflows/coveralls.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/pypi.yaml
  .github/workflows/tests.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  COPYRIGHT.txt
  LICENSE.txt
  README.md
  RELEASING.md
  becquerel/__metadata__.py
  becquerel/core/autocal.py
  becquerel/core/calibration.py
  becquerel/core/fitting.py
  becquerel/core/peakfinder.py
  becquerel/core/rebin.py
  becquerel/core/utils.py
  becquerel/parsers/spe.py
  becquerel/tools/_nndc_dummy_text.py
  becquerel/tools/df_cache.py
  becquerel/tools/element.py
  becquerel/tools/materials.py
  becquerel/tools/materials_compendium.py
  becquerel/tools/nndc.py
  requirements-dev.txt
  requirements.txt
  setup.cfg
  setup.py
  tests/autocal_test.py
  tests/energycal_test.py
  tests/fitting_test.py
  tests/plotting_test.py
  tests/samples/INVENTORY.md
  tests/spectrum_test.py
  tests/test_utils.py
Labels: tools, testing, doc

#311 Downgrade fitting error
  becquerel/core/fitting.py
  tests/fitting_test.py
Labels: enhancement, core, effort-low

#308 allow **kwargs in Spectrum.fit
  becquerel/core/spectrum.py
  setup.cfg
  tests/fitting_test.py
  tests/nndc_test.py
Labels: enhancement, core, effort-low

#310 Allow lmfit models
  becquerel/core/fitting.py
  examples/fitting.ipynb
  tests/fitting_test.py
  tests/wallet_cache_test.py
Labels: enhancement, new feature, core, effort-med
