Repository lbl-anp/becquerel, pull requests merged in 2024-05, with the labels that each got.

#405 Add Spectrum.attenuate method
  becquerel/core/spectrum.py
  becquerel/tools/xcom.py
  tests/spectrum_test.py
Labels: enhancement, new feature, core, effort-med

#406 add Spectrum properties for live/deadtime-related quantities
  becquerel/core/spectrum.py
  tests/spectrum_test.py
Labels: new feature, core, effort-low

#407 fix pre-commit false positives
  tests/spectrum_test.py
Labels: testing, effort-low

#408 fix Spectrum inheritance
  becquerel/core/spectrum.py
  tests/spectrum_test.py
Labels: bug, effort-low

#409 add Fitter.param_val_and_unc
  becquerel/core/fitting.py
  tests/fitting_test.py
Labels: enhancement, new feature, core, effort-low

#410 copy the realtime in Spectrum.combine_bins
  becquerel/core/spectrum.py
  tests/spectrum_test.py
Labels: bug, core, effort-low

#411 Spectrum.from_file: enable pathlib.Path
  becquerel/core/spectrum.py
  becquerel/io/h5.py
  becquerel/parsers/cnf.py
  becquerel/parsers/h5.py
  becquerel/parsers/iec1455.py
  becquerel/parsers/spc.py
  becquerel/parsers/spe.py
  tests/spectrum_io_test.py
Labels: enhancement, core, fileIO, effort-low

#413 Fitter.uncertainties dict
  becquerel/core/fitting.py
  tests/fitting_test.py
Labels: enhancement, core, effort-low

#414 Update relative uncertainties and related code
  becquerel/core/fitting.py
  tests/fitting_test.py
Labels: bug, core, doc/examples, effort-low

#412 updates to Fitter.custom_plot
  becquerel/core/fitting.py
  examples/fitting.ipynb
Labels: core, effort-low

#398 Switch code formatting and linting to ruff
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  becquerel/__init__.py
  becquerel/__metadata__.py
  becquerel/core/autocal.py
  becquerel/core/calibration.py
  becquerel/core/energycal.py
  becquerel/core/fitting.py
  becquerel/core/peakfinder.py
  becquerel/core/plotting.py
  becquerel/core/rebin.py
  becquerel/core/spectrum.py
  becquerel/core/utils.py
  becquerel/io/h5.py
  becquerel/parsers/__init__.py
  becquerel/parsers/cnf.py
  becquerel/parsers/iec1455.py
  becquerel/parsers/spc.py
  becquerel/parsers/spe.py
  becquerel/tools/__init__.py
  becquerel/tools/df_cache.py
  becquerel/tools/element.py
  becquerel/tools/isotope.py
  becquerel/tools/isotope_qty.py
  becquerel/tools/materials.py
  becquerel/tools/materials_compendium.py
  becquerel/tools/materials_nist.py
  becquerel/tools/nndc.py
  becquerel/tools/xcom.py
  examples/autocal.ipynb
  examples/misc.ipynb
  examples/nndc.ipynb
  examples/nndc_chart_of_nuclides.ipynb
  examples/rebinning.ipynb
  examples/spectrum.ipynb
  pyproject.toml
  requirements-dev.txt
  setup.cfg
  setup.py
  tests/autocal_test.py
  tests/calibration_test.py
  tests/element_test.py
  tests/fitting_test.py
  tests/h5_tools_test.py
  tests/isotope_qty_test.py
  tests/isotope_test.py
  tests/materials_test.py
  tests/nndc_test.py
  tests/parsers_test.py
  tests/plotting_test.py
  tests/spectrum_io_test.py
  tests/spectrum_test.py
Labels: enhancement
